* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-group {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  letter-spacing: -.02em;
}

.input {
  width: 100%;
  padding: 12px;
  background: white;
  border: 1px solid #d2d2d7;
  border-radius: 8px;
  resize: vertical;
  font-family: inherit;
  font-size: 16px;
}

.map-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px;
}

.map-overlay-top {
  top: 0;
  bottom: auto;
}

.map-overlay button {
  display: block;
  background-color: white;
  width: 100%;
  height: 32px;
  appearance: none;
  border: 0;
  border-radius: 8px;

  font-size: 1rem;
  font-family: inherit;
  font-weight: 500;
  letter-spacing: -.02em;
}

.map-overlay button:active {
  background-color: #f1f1f1;
}

.map-overlay-box {
  height: 32px;
  border-radius: 8px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, .6);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
}

.map-overlay-box label {
  display: flex;
  gap: .3em;
}

.map-overlay-options {
  height: auto;
  flex-wrap: wrap;
  padding: 20px;
}

.map-overlay-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  height: auto;
}

.map-overlay-inputs .form-group {
  flex: 1;
  min-width: 150px;
}

.default-annotation-style {
  width: 100%;
  height: 24px;
  background-color: #3b5f82;
  border: 1px solid #213549;
  color: white;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
}

/* Animation FROM https: //codepen.io/nelledejones/pen/gOOPWrK */
@keyframes gelatine {

  from,
  to {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}
