* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.map-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px;
}

.map-overlay button {
  display: block;
  background-color: white;
  width: 100%;
  height: 32px;
  appearance: none;
  border: 0;
  border-radius: 8px;

  font-size: 1rem;
  font-family: inherit;
  font-weight: 500;
  letter-spacing: -.02em;
}

.map-overlay button:active {
  background-color: #f1f1f1;
}

.map-overlay-box {
  height: 32px;
  border-radius: 8px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, .6);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
}

.map-overlay-box label {
  display: flex;
  gap: .3em;
}
